@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.sceneWrapper {
  /* overflow: hidden; */
  white-space: nowrap;
  margin-block-end: 20px;
  cursor: grab;
  @media screen and (min-width: 600px) {
    width: 80%;
  }
}

html,
body {
  height: 100%;
}
.text {
  padding: 20px;
  margin-block-start: 50px;
  border: 1px solid red;
  font-size: 26px;
}
body {
  padding-block-start: 12px;
  padding-inline: 12px;
  background: #e4e4e4e4;
}
canvas {
  padding: 10px;
  border: 2px solid black;
  background: white;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
